.opicoes{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.cadastramento{
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    background-color: gold;
}

#cadastrado{
  height: 310px;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }

  /* Estilo para a mensagem de erro */
.erro {
    color: red;
    font-size: 14px;
    display: none; /* Esconde por padrão */
  }

#justificacao{
  margin: 30px;
 
}

#justificacao a {
  color: #0056b3;
}

#justificacao span {
  color: #ccc;
  font-weight: bold;

}

#instrucao{
  color: red;
}